
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Playfair+Display:ital,wght@1,700&display=swap');
.maindiv{
    position: relative;

}

.maindiv{
    display: inline-block;
}

   
.text{
    background-color: black;
    font-weight: 700;
    font-size: large;
    color: white;
    display: inline-block;
    position: absolute;

    top: 90%;
    left: 81% ;
}
img{
    display: inline-block;
    opacity: 100%;
    transition: ;
}
img:hover{
    opacity: 50%;
    transition: 2s;
    
}
h2{
    font-size: 40px;
    position: absolute;
    bottom: 400px;
    left: 100px;
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'Playfair Display', serif;
    top: 30px;
    opacity: 0;

}
span{
    background-color: aqua;
    font-size: 20px;
}
p{
    position: absolute;
    left: 30%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.maindiv:hover h2{
    opacity: 1;
    transition: 2s;
    
}
.maindiv:hover .text{
    background-color: rgb(30, 30, 117);
    background-
}
